<footer class="footer footer-black">
	<div class="container">
		<a href="{{site.baseurl}}/">FoodSpan</a>
		<ul class="pull-center">
			<li>
				<a href="{{site.baseurl}}/about/">
				   About <span class="sr-only">About the FoodSpan Product</span>
				</a>
			</li>
			<li>
				<a href="https://foodspan.github.io/foodspan-app/">
				   App <span class="sr-only">The FoodSpan Web Companion App</span>
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/blog/">
				   Blog <span class="sr-only">The FoodSpan Blog</span>
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/shop/">
					Shop <span class="sr-only">The FoodSpan Shop</span>
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/team/">
					Team <span class="sr-only">About the FoodSpan Team</span>
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/contact/">
					Contact Us <span class="sr-only">Contact the FoodSpan Team</span>
				</a>
			</li>
		</ul>

		<ul class="social-buttons pull-right">
			<li>
				<a href="https://twitter.com/FoodSpanCA" target="_blank" class="btn btn-just-icon btn-simple">
					<i class="fa fa-twitter"></i> <span class="sr-only">FoodSpan Twitter Page</span>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/FoodSpanCA/" target="_blank" class="btn btn-just-icon btn-simple">
					<i class="fa fa-facebook-square"></i> <span class="sr-only">FoodSpan Facebook Page</span>
				</a>
			</li>
			<li>
				<a href="https://github.com/FoodSpan" target="_blank" class="btn btn-just-icon btn-simple">
					<i class="fa fa-github"></i> <span class="sr-only">FoodSpan GitHub Organisation</span>
				</a>
			</li>
		</ul>

	</div>
</footer>

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/nouislider.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-datepicker.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.dropdown.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.tagsinput.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jasny-bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/material-kit.js" | prepend: site.baseurl }}"></script>
