<footer class="footer footer-black">
	<div class="container">
		<a href="{{site.baseurl}}/">FoodSpan</a>
		<ul class="pull-center">
			<li>
				<a href="{{site.baseurl}}/about/">
				   About
				</a>
			</li>
			<li>
				<a href="#">
				   App
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/blog/">
				   Blog
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/shop/">
					Shop
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/team/">
					Team
				</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/contact/">
					Contact Us
				</a>
			</li>
		</ul>

		<ul class="social-buttons pull-right">
			<li>
				<a href="#" target="_blank" class="btn btn-just-icon btn-simple">
					<i class="fa fa-twitter"></i>
				</a>
			</li>
			<li>
				<a href="#" target="_blank" class="btn btn-just-icon btn-simple">
					<i class="fa fa-facebook-square"></i>
				</a>
			</li>
			<li>
				<a href="#" target="_blank" class="btn btn-just-icon btn-simple">
					<i class="fa fa-instagram"></i>
				</a>
			</li>
			<li>
				<a href="https://github.com/FoodSpan" target="_blank" class="btn btn-just-icon btn-simple">
					<i class="fa fa-github"></i>
				</a>
			</li>
		</ul>

	</div>
</footer>

<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/material.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/nouislider.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap-datepicker.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.dropdown.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.tagsinput.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jasny-bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/material-kit.js" | prepend: site.baseurl }}"></script>
