<nav class="navbar navbar-fixed-top" style="background-color:#98DA8E;color:white;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-container" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">FoodSpan</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-container">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{site.baseurl}}/about/">About</a>
        </li>
        <li>
          <a href="https://foodspan.github.io/foodspan-app/">App</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/blog/">Blog</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/shop/">Shop</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/team/">Team</a>
        </li>
        <li>
          <a href="{{site.baseurl}}/contact/">Contact Us</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{site.baseurl}}/{{site.webspanurl}}" class="btn btn-white btn-raised btn-round">
            WebSpan
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
