<nav class="navbar navbar-fixed-top" style="background-color:#98DA8E;color:white;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-container" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">FoodSpan</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-container">
      <ul class="nav navbar-nav">
        <li>
          <a href="{{site.baseurl}}/about/">About <span class="sr-only">About the FoodSpan Product</span></a>
        </li>
        <li>
          <a href="{{site.baseurl}}/blog/">Blog <span class="sr-only">The FoodSpan Blog</span></a>
        </li>
        <li>
          <a href="{{site.baseurl}}/shop/">Shop <span class="sr-only">The FoodSpan Shop</span></a>
        </li>
        <li>
          <a href="{{site.baseurl}}/team/">Team <span class="sr-only">About the FoodSpan Team</span></a>
        </li>
        <li>
          <a href="{{site.baseurl}}/contact/">Contact Us <span class="sr-only">Contact the FoodSpan Team</span></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="https://foodspan.github.io/foodspan-app/" class="btn btn-white btn-raised btn-round">Mobile App <span class="sr-only">The FoodSpan Mobile Companion App</span></a>
        </li>
        <li>
          <a href="{{site.baseurl}}/{{site.webspanurl}}" class="btn btn-white btn-raised btn-round">
            WebSpan <span class="sr-only">The FoodSpan Web Companion App</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
