---
layout: default
---
<div class="container">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="card">
      <img class="img-responsive" alt="Blog Post Image" src="{% if page.image %}{{site.baseurl}}/img/blog/{{page.image}}{% else %}{{site.baseurl}}/img/blog/default.png{% endif %}">
      <div class="content">
        <header class="post-header">
          <h1 class="title" itemprop="name headline">{{ page.title }}</h1>
          <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
    </div>
  </article>
    <h2>Recommended Articles</h2>
      <div class="row">
        {% for post in site.posts limit:3 %}
          <div class="col-sm-4">
            <div class="card">
              <img class="img-responsive" alt="Blog Post Image" src="{% if post.image %}{{site.baseurl}}/img/blog/{{post.image}}{% else %}{{site.baseurl}}/img/blog/default.png{% endif %}">
              <div class="content">
                <h4>
                  <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h4>
                <h4><small>{{ post.date | date: "%b %-d, %Y" }}</small></h4>
                <p>
                  {{post.excerpt}}
                  <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-simple">
        						<i class="material-icons">subject</i> Read Article
        					</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
